.books {
  overflow-x: auto;
}

.books::-webkit-scrollbar {
  display: none;
}
.btn {
  background-color: transparent;
  border-color: transparent;
}
.books-container {
  display: inline-flex;
}

.prev-button,
.next-button {
  margin-top: 5px;
  cursor: pointer;
  border: none; /* Remove border */
  outline: none; /* Remove outline when button is focused */

  background-color: transparent; /* Make the background color transparent */
}

/* Adjust the margin between elements inside .block */
.block {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.popout_book {
  border-radius: 7%; /* 圆角的半径 */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;

  background: #ffffff;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.halfdarkarea {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;

  transform: translateY(100%);
  transition: transform 0s ease;
}

.popout_book.active {
  transform: translateY(35%);
}

.halfdarkarea.active {
  transform: translateY(0%);

  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
}

.popout_book > div {
  display: flex; /* 应用 Flexbox */
  justify-content: center; /* 水平居中 */
}

.bookpic_popout {
  align-items: center;
  justify-content: center;
}
