.books {
  overflow-x: auto;
}

.books::-webkit-scrollbar {
  display: none;
}

.books-container {
  display: inline-flex;
}

.prev-button,
.next-button {
  margin-top: 5px;
  cursor: pointer;
  border: none; /* Remove border */
  outline: none; /* Remove outline when button is focused */

  background-color: transparent; /* Make the background color transparent */
}

/* Adjust the margin between elements inside .block */
.block {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
