.book-picture {
  /* Ensure items are displayed in a row */
  display: flex;
  flex-direction: column; /* Display content in a column */
  /* Adjust styles as needed */
}

.title {
  /* Display items in a row */
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 10px; /* Adjust margin as needed */
}

.title svg {
  /* Add styles to the SVG icon */
  width: 1em; /* Adjust size as needed */
  height: 1em; /* Adjust size as needed */
  margin-right: 5px; /* Adjust spacing as needed */
}

.book-info {
  /* Display book information in a row */
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.book-info img {
  width: 150px; /* Set the width as desired */
  height: 10px; /* Automatically adjust height to maintain aspect ratio */
  margin-right: 10px; /* Adjust spacing as needed */
}
