#top {
  display: flex;
}

#top button {
  position: absolute;
  top: 0.7rem;
  left: 2rem;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 35%;
  background: #eee;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.sidebar.active {
  transform: translateX(0);
}

.nuxt-link-no-underline {
  color: black;
  text-decoration: none;
}

#appname {
  font-size: 1em;
}

.sidebar > div {
  display: flex; /* 应用 Flexbox */
  justify-content: center; /* 水平居中 */
  margin-bottom: 5%;
  font-family: Microsoft YaHei;
  font-size: 120%;
}

#list2_img,
#list3_img,
#list4_img,
#list5_img,
#list6_img,
#list7_img {
  padding-right: 2%;
  margin-right: 5px;
}
